@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Popping', sans-serif
}

.nav {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px 36px;
}

.nav-logo {
  max-width: 100%;
}

.group-img {
  display: flex;
  justify-content: center;

}

.group-img img {
  width: 100%;
  max-width: 400px;
}


.body-style {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 20px;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.card-img {
  width: 100%;
  border-radius: 25px;
}

.card_comp {
  flex-direction: column;
  width: 175px;
  font-size: 12px;
}

.card-stat {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}

.gray {
  color: rgb(166, 162, 162);
}

.bold {
  font-weight: bold;
}